*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    align-items: center;
    background-color: #000;
    display: flex;

}

.container{
    color: #fff;
    margin: 0 auto;
    text-align: center;
    
}

/*TEXT "HAPPY NEW YEAR"*/
h1{
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-size: 10rem;
    z-index: 100;
}

/*TEXT YEARS*/
.year_text span{
    font-size: 20rem;
    letter-spacing: 2rem;
    padding: 0 .5rem;
    z-index: 100;
}

/*TIMER*/
li span{
    display: block;
    font-size: 10.5rem;
    z-index: 100;
    text-align : center;
}

/*TEXT TIMER*/
li{
    display: inline-block;
    font-size: 1.5rem;
    list-style-type:none ;
    padding: 1em;
    text-transform: uppercase;
    z-index: 100;
    text-align :center;
}

/*SECOND ONLY*/
.new_sub_timer span{
    font-size: 30rem;
    padding: 0 .5rem;
    z-index: 100;
    text-align: center;
}

.sub_timer{
    width: 250px;
    text-align: center;
}

.new_sub_timer{
    width: 750px;
    text-align: center;
}

/*FIREWORKS*/
.fireworks-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
	z-index: -1;
}